//
   Created by apple on 15/12/4.
extends layout
block content
    div(class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main")
        ul.breadcrumb
            li
                a(href="/")
                    i.glyphicon.glyphicon-home
                span.divider
            li
                a(href="/static/properties")
                    | 静态文件管理
                span.divider
            li
                a(href="/static/properties/detail/" + fileId)
                    | 文件详情
                span.divider
            li.active 属性修改
        div
            form(method="post" action="/static/properties/detail/" + fileId + "/update/" + id class="form-inline")
                div(class="form-group" style="padding-right: 10px")
                    label 属性名:
                    input(type="text" value=item.name name="key" id="key" class="form-control" placeholder="key")
                div(class="form-group" style="padding-right: 10px")
                    label 属性值:
                    textarea(rows="3" cols="30" name="value" id="value")=item.value
                input(type="submit" class="btn btn-default save" value="保存")
        br
        font(color="red")= error
    script(src="/javascripts/pages/static_properties.js" type="text/javascript")